trunk/i20022tests/Security Management/semt.011.001.01/semt.011.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 Aug 17 16:07:53-->
<xs:schema elementFormDefault="qualified"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.011.001.01"
    xmlns="urn:iso:std:iso:20022:tech:xsd:semt.011.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RgltryTxRptCxlStsV01" type="RegulatoryTransactionReportCancellationStatusV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification8">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification23Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
                <xs:element name="PrtryId" type="GenericIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryTransactionReportCancellationStatusV01">
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification8"/>
            <xs:element name="RptgInstn" type="PartyIdentification23Choice"/>
            <xs:choice>
                <xs:element name="RptCxlSts" type="ReportStatusAndReason2"/>
                <xs:element maxOccurs="unbounded" minOccurs="1"
                    name="IndvTxCxlSts" type="TradeTransactionStatusAndReason2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectedCancellationStatusReason1Choice">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectedCancellationStatusReason1Code"/>
                <xs:element name="XtndedRsn" type="Extended350Code"/>
                <xs:element name="DataSrcSchme" type="GenericIdentification1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectedCancellationStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="NRGM"/>
            <xs:enumeration value="NSLA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportStatusAndReason2">
        <xs:sequence>
            <xs:element name="RltdRef" type="Max35Text"/>
            <xs:choice>
                <xs:element name="Sts" type="Status2Code"/>
                <xs:element maxOccurs="100" minOccurs="1" name="Rjctd" type="RejectedCancellationStatusReason1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Status2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="PDNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionStatusAndReason2">
        <xs:sequence>
            <xs:element name="RltdRef" type="Max35Text"/>
            <xs:element name="TradRef" type="Max70Text"/>
            <xs:choice>
                <xs:element name="Sts" type="Status2Code"/>
                <xs:element maxOccurs="100" minOccurs="1" name="Rjctd" type="RejectedCancellationStatusReason1Choice"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
