trunk/i20022tests/Treasury/trea.013.001.01/trea.013.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R6.0.1.1) on 2007 May 02 14:35:12-->
<xs:schema elementFormDefault="qualified"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:trea.013.001.01"
    xmlns="urn:iso:std:iso:20022:tech:xsd:trea.013.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="WdrwlNtfctnV01" type="WithdrawalNotificationV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageReference">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WithdrawalNotificationV01">
        <xs:sequence>
            <xs:element name="MtchgSysUnqRef" type="MessageReference"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
